<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FloodFill.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30EAB0C71C81F1D600E55D0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30EAB0E01C81F1D900E55D0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30EAB0EB1C81F1D900E55D0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
